body {
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.7);
}
.image {
  display: flex;
  justify-content: center;
  margin: 20px;
}
input {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
.box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: #aad9cf;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
}
ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
li {
  font-family: 'Roboto', sans-serif;
}
.cta {
  background-color: #E14D2A;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
}
